<div id="intro" class="carousel">
	<div class="carousel-inner">
		{{ range $i, $p := (where .Site.Pages "Section" "intro") }}
			<section class="panel {{ cond (eq $i 0) "banner" "spotlight medium" }} {{ if .Params.align }}{{ .Params.align }}{{ end }}" id="first">
				<div class="content span-7 {{ if .Params.align }}align-{{ .Params.align }}{{ end }}">
					<h1>{{ .Title | safeHTML }}</h1>
					<p>{{ .Content }}</p>
				</div>
				<div class="image filtered tinted" data-position="top left">
					<img src="{{ .Dir }}/{{ .Params.background }}"/>
				</div>
			</section>
		{{ end }}
	</div>
</div>
