<section>
	<header class="banner style{{ .style }} orient-{{ .orientation }} content-align-left image-position-center onscroll-image-fade-in">
		<h2>{{ .title | markdownify }}</h2>
	</header>
		<p>{{ .content | markdownify }}</p>
	<div class="image">
    <img src="{{ $.Site.BaseURL }}images/{{ .image }}" alt="" />
</section>

{{ range .Site.Params.about.blurb }}
<section>
	<header class="spotlight style1 orient-{{ .orientation }} content-align-left image-position-center onscroll-image-fade-in">
		<h2>{{ .title | markdownify }}</h2>
	</header>
		<p>{{ .content | markdownify }}</p>
	<div class="image">
    <img src="{{ $.Site.BaseURL }}images/{{ .image }}" alt="" />
</section>
{{ end }}
