<section
  id="{{ .Params.hashID }}"

  {{ if .Params.autoslide }}
    data-autoslide="{{ .Params.autoslide }}"
  {{ end }}

  {{ if .Params.background }}
    {{ range $i, $e := .Params.background.params }}
      {{ if .Params.background.full }}
        data-background-{{ $i }}="{{ $e }}"
      {{ else }}
        style="background: {{ cond (eq $i "image") "url({{ $e }})" $e }};"
      {{ end }}
    {{ end }}
  {{ end }}

  {{ if .Params.transition }}
    data-transition="{{ .Params.transition }}"
  {{ end }}

  {{ if .Params.transition_speed }}
    data-transition="{{ .Params.transition_speed }}"
  {{ end }}
>
  {{ if .Title }}
    {{ if not .Params.hide_title }}
      <h1>{{ .Title | safeHTML }}</h1>
    {{ end }}
  {{ end }}

  {{ .Content }}
</section>
