{{ $params := .Params }}
<section
  id="{{ .Params.hashID }}"

  {{ if .Params.autoslide }}
    data-autoslide="{{ .Params.autoslide }}"
  {{ end }}

  {{ if .Params.background }}
    {{ if .Params.background.full }}

      {{ range $i, $e := .Params.background.params }}
        data-background-{{ $i }}="{{ $e }}"
      {{ end }}

    {{ else }}
      style="
        {{ range $i, $e := .Params.background.params }}
          background-{{ $i }}:
            {{ if eq $i "image" }}
              url({{ $e }})
            {{ else }}
              {{ $e }}
            {{ end }}
          ;
        {{ end }}
      "
    {{ end }}
  {{ end }}

  {{ if .Params.transition }}
    data-transition="{{ .Params.transition }}"
  {{ end }}

  {{ if .Params.transition_speed }}
    data-transition="{{ .Params.transition_speed }}"
  {{ end }}
>
  {{ if .Title }}
    {{ if not .Params.hide_title }}
      <h1>{{ .Title | safeHTML }}</h1>
    {{ end }}
  {{ end }}

  {{ .Content }}
</section>
