<section
  id="{{ .Params.hashID }}"

  {{ if .Params.autoslide }}
    data-autoslide="{{ .Params.autoslide }}"
  {{ end }}

  {{ if .Params.background }}
    {{ if .Params.background.full }}
      {{ range $i, $e := .Params.background.params }}
        data-background-{{ $i }}="{{ $e }}"
      {{ end }}
    {{ else }}
      data-state="
      {{ range $i, $e := .Params.background.params }}
        {{ if eq $i "image" }}
          {{ $i := printf "url("%s")" $i }}
        {{ end }}
        {{  printf "%s " $i }}
      {{ end }}
      "
    {{ end }}
  {{ end }}

  {{ if .Params.transition }}
    data-transition="{{ .Params.transition }}"
  {{ end }}

  {{ if .Params.transition_speed }}
    data-transition="{{ .Params.transition_speed }}"
  {{ end }}
>
  {{ if .Title }}
    {{ if not .Params.hide_title }}
      <h1>{{ .Title | safeHTML }}</h1>
    {{ end }}
  {{ end }}

  {{ .Content }}
</section>
