{{ $about := where .Data.Pages "Section" "about" }}
{{ $lenabout := len $about }}
{{ range $about }}
<section id="about-{{ .Weight }}" class="main style{{ if eq .Weight 1}}1{{else}}2{{end}} dark fullscreen {{ if ne .Weight 1}}{{ if modBool .Weight 2}}left{{else}}right{{end}}{{end}}" style="background:url("{{ .Params.image }}")">
	<div class="content">
		<header>
			<h2>{{ .Title }}</h2>
		</header>
		<p>{{ .Content | markdownify }}</p>
		{{ if ne .Weight $lenabout}}
		<footer>
			<a href="#about-{{ add .Weight 1 }}" class="button style2 down {{ if ne .Weight 1 }}anchored{{end}}">More</a>
		</footer>
		{{end}}
	</div>
</section>
{{ end }}
