{{ $about := where .Data.Pages "Section" "about" }}
{{ $end := sub (len $about) 1 }}
{{ range $i, $e := $about }}
<section id="about{{ if ne $i 0 }}-{{$i}}{{end}}" class="main style{{ cond (eq $i 0) "1" "2" }} dark fullscreen {{ if ne $i 0}}{{ cond (modBool .Weight 2) "left" "right" }}{{end}}" style="background: url("donkeyballs")">
	<div class="content">
		<header>
			<h2>{{ $e.Title }}</h2>
		</header>
		<p>{{ $e.Content | markdownify }}</p>
		{{ if ne $i $end }}
		<footer>
			<a href="#about-{{ add $i 1 }}" class="button style2 down {{ if ne $i 0 }}anchored{{end}}">More</a>
		</footer>
		{{end}}
	</div>
</section>
{{ end }}
