<article id="home" class="panel-wrapper">

{{ $about := where .Data.Pages "Section" "about" }}
{{ $end := sub (len $about) 1 }}
{{ range $i, $e := $about }}
<section class="panel {{$e.Params.css.ethereal.panel}}" id="home{{ if ne $i 0 }}-{{$i}}{{end}}">
	<div class="content {{$e.Params.css.ethereal.content}}">
			<h1>{{ $e.Title }}</h1>
		<p>{{ $e.Content | markdownify }}</p>
		{{ if ne $i $end }}
		<ul class="actions">
			<li><a href="#home-{{ add $i 1 }}" class="button primary color1 circle icon fa-angle-right">Next</a></li>
		</ul>
		{{end}}
	</div>
</section>
{{ end }}

</article>
