{{ $home := where .Data.Pages "Section" "home" }}
{{ $end := sub (len $home) 1 }}
{{ range $i, $e := $home }}
<article id="home{{ if ne $i 0 }}-{{$i}}{{end}}" class="panel {{ cond (eq $i 0) "banner" "spotlight" }}">
	<header>
		<h1>{{ .Title | safeHTML }}</h1>
		<p>{{ .Content | markdownify }}</p>
	</header>
	{{ if ne $i $end }}
	<a href="#home-{{ add $i 1 }}" class="jumplink pic">
		<span class="arrow icon fa-chevron-right"><span>Next</span></span>
	</a>{{end}}
	<img src="{{ .Params.image }}" alt="" />
</article>
{{end}}
