{{ $home := where .Data.Pages "Section" "home" }}
{{ $end := sub (len $home) 1 }}
{{ range $i, $e := $home }}
<article id="home{{ if ne $i 0 }}-{{$i}}{{end}}" class="{{ .Params.css.ethereal.panel }}">
	<header class="{{ .Params.css.ethereal.content }}">
		<h1>{{ .Title | safeHTML }}</h1>
		<p>{{ .Content | markdownify }}</p>
	</header>
	<div class="image {{ .Params.css.ethereal.image-class }}" data-position="{{ .Params.css.ethereal.image-position }}">
		{{ if ne $i $end }}
		<a href="#home-{{ add $i 1 }}" class="jumplink pic">
			<span class="arrow icon fa-chevron-right"><span>Next</span></span>
		</a>{{end}}
		<img src="{{ .Params.image }}" alt="" />
	</div>
</article>
{{end}}
