{{ $sectionIndex := .Scratch.sectionIndex }}

{{ if not and (not .NextInSection) (eq $sectionIndex (sub (len .Site.Params.nav.main) 1)) }}
  {{ $next := printf "%s-%s" .Section .NextInSection.File.BaseFileName }}
  {{ if not .NextInSection }}
    {{ $nextSection := (index .Site.Params.nav.main (add $sectionIndex 1)).section }}
    {{ $next := printf "%s-%s" $nextSection ((.Site.Sections.Get $nextSection).Get 0) }}
  {{end}}
  <a href="#{{$next}}">
    <span class="arrow next icon fa-chevron-right"><span>Next</span></span>
  </a>
{{end}}

{{ if not and (not .PrevInSection) (eq $sectionIndex 0) }}
  {{ $prev := printf "%s-%s" .Section .PrevInSection.File.BaseFileName }}
  {{ if not .PrevInSection }}
    {{ $prevSection := (index .Site.Params.nav.main (sub $sectionIndex 1)).section }}
    {{ $prev := printf "%s-%s" $prevSection ((.Site.Sections.Get $prevSection).Get (sub (len (.Site.Sections.Get $prevSection)) 1)) }}
  {{end}}
  <a href="#{{$prev}}">
    <span class="arrow next icon fa-chevron-right"><span>Next</span></span>
  </a>
{{end}}
