{{ $sectionIndex := .Scratch.Get "sectionIndex" }}

{{ if not (and (not .NextInSection) (eq $sectionIndex (sub (len .Site.Params.nav.main) 1))) }}
  {{ $next := "" }}
  {{ if .NextInSection }}
    {{ $next := printf "%s-%s" .Section .NextInSection.File.BaseFileName }}
  {{ else }}
    {{ $nextSection := (index .Site.Params.nav.main (add $sectionIndex 1)).section }}
    {{ $next := printf "%s-%s" $nextSection (index (where $.Data.Pages "Section" $nextSection) 0).File.BaseFileName }}
  {{end}}
  <a href="#{{$next}}">
    <span class="arrow next icon fa-chevron-right"><span>Next</span></span>
  </a>
{{end}}

{{ if not (and (not .PrevInSection) (eq $sectionIndex 0)) }}
  {{ $prev := "" }}
  {{ if .PrevInSection }}
    {{ $prev := printf "%s-%s" .Section .PrevInSection.File.BaseFileName }}
  {{ else }}
    {{ $prevSection := (index .Site.Params.nav.main (sub $sectionIndex 1)).section }}
    {{ $prev := printf "%s-%s" $prevSection (last 1 (where $.Data.Pages "Section" $prevSection)).File.BaseFileName }}
  {{end}}
  <a href="#{{$prev}}">
    <span class="arrow next icon fa-chevron-right"><span>Next</span></span>
  </a>
{{end}}
